<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="concernrecs.ViewPart1"
            id="ConcernReCS.view1"
            name="name"
            restorable="true">
      </view>
   </extension>

</plugin>
