<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ufmg.crcs"
            name="ConcernReCS">
      </category>
      <view
            category="ufmg.crcs"
            class="ufmg.crcs.ui.views.ConcernReCSView"
            icon="icons/smell.gif"
            id="ufmg.crcs.views.ConcernReCSView"
            name="ConcernReCS">
      </view>
      <view
            category="ufmg.crcs"
            class="ufmg.crcs.ui.views.ConcernReCSExtensionView"
            icon="icons/smell.gif"
            id="ufmg.crcs.views.ConcernReCSExtensionView"
            name="Extension View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ufmg.crcs.ui.preferences.ConcernReCSPreferencePage"
            id="ufmg.crcs.preferences.ConcernReCSPreferencePage"
            name="ConcernReCS">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ufmg.crcs.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.resources.fileModificationValidator">
      <fileModificationValidator
            class="concernrecs.FileModificationValidator1">
      </fileModificationValidator>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ufmg.crcs.views.ConcernReCSExtensionView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
